* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: url("./fonts/roboto-v27-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("./fonts/roboto-v27-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./fonts/roboto-v27-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("./fonts/roboto-v27-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("./fonts/roboto-v27-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("./fonts/roboto-v27-latin-regular.svg#Roboto") format("svg"); /* Legacy iOS */
}
.wrapper {
  max-width: 1440px;
  margin: 0px auto;
}

header {
  width: 100%;
  background: url(./images/background_main.svg);
  background-size: cover;
}

.header__main {
  padding-top: 51px;
  padding-left: 104px;
  height: 100vh;
}

.header__menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 202px;
}

.header__menu ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header__menu ul li {
  margin-left: 25px;
}

.header__menu ul li a {
  font-family: Roboto;
  font-weight: 400;
  font-size: 24px;
  list-style-type: none;
  text-decoration: none;
  color: #ffffff;
}

.header__night {
  background: url(./images/png-sprite.png);
  background-position: -5px -90px;
  width: 30px;
  height: 30px;
  margin-left: 48px;
}

.header__account {
  background: url(./images/png-sprite.png);
  background-position: -5px -0px;
  width: 40px;
  height: 40px;
  margin-right: 104px;
}

.header__account:hover {
  background: url(./images/png-sprite.png);
  background-position: -5px -45px;
  width: 40px;
  height: 40px;
}

.header__navigation {
  position: relative;
}

.header__navigation a:hover::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background: #f5bd41;
  top: 38px;
  left: 0px;
}

.header__search {
  margin-bottom: 120px;
  margin-right: 104px;
}

.header__title {
  display: flex;
  line-height: 50px;
  font-family: Roboto;
  font-weight: 500;
  font-size: 50px;
  color: #ffffff;
  padding-bottom: 100px;
}

form {
  display: flex;
}

form p {
  color: #ffffff;
  line-height: 21px;
  font-family: Roboto;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 24px;
}

form .header__destination {
  flex-grow: 4;
}

form .header__date {
  flex-grow: 2;
}

form .header__people {
  flex-grow: 3;
  display: flex;
  padding-top: 45px;
}

form button {
  flex-grow: 2;
  height: 64px;
  margin-top: 45px;
}

form input {
  height: 64px;
  width: 100%;
}

.header__download {
  display: flex;
  justify-content: center;
}

.header__mobile {
  display: none;
}

.offer {
  padding-top: 120px;
  padding-bottom: 122px;
}

.offer__h1 {
  text-align: center;
  font-family: Roboto;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  padding-bottom: 20px;
  position: relative;
}

.offer__h1::after {
  content: "";
  position: absolute;
  width: 100px;
  height: 4px;
  background-color: #f5bd41;
  margin: 0px auto;
  top: 67px;
  left: 0;
  right: 0;
}

.offer__items {
  display: flex;
  justify-content: space-around;
}

.offer__item {
  text-align: center;
  margin-top: 92px;
}

.offer__text {
  margin-top: 44px;
  top: 419px;
  position: sticky;
  font-family: Roboto;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
}

footer {
  background: #10367c;
}

.footer__mobile {
  display: none;
}

.footer__section {
  height: 630px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 47px;
  text-align: left;
  color: #ffffff;
  display: flex;
}

.footer__header {
  font-weight: 600;
}

.footer__about {
  list-style-type: none;
  padding-left: 104px;
  padding-top: 120px;
}

.footer__property {
  list-style-type: none;
  padding-left: 223px;
  padding-top: 120px;
}

.footer__support {
  list-style-type: none;
  padding-left: 284px;
  padding-top: 120px;
}

.copyright {
  position: absolute;
  padding-left: 103px;
  padding-top: 494px;
  padding-bottom: 120px;
  font-size: 15px;
}

@media (max-width: 360px) {
  .header__main {
    display: none;
  }

  .header__mobile {
    background: url(./images/background_main.svg);
    background-position: center;
    display: block;
    width: 360px;
    height: 533px;
    padding: 0px 15px;
  }

  .header__menu_mobile {
    display: flex;
    margin-bottom: 52px;
    padding-top: 12px;
  }

  .header__logo_mobile {
    display: flex;
  }

  .header__logo_mobile img {
    width: 120px;
    height: 24px;
    display: flex;
  }
  .header__night_mobile {
    background: url(./images/png-sprite.png);
    background-position: -5px -175px;
    width: 16px;
    height: 16px;
  }

  .header__account_mobile {
    background: url(./images/png-sprite.png);
    background-position: -5px -125px;
    width: 24px;
    height: 24px;
    margin-left: 16px;
  }

  .header__bar_mobile {
    background: url(./images/png-sprite.png);
    background-position: -5px -154px;
    width: 24px;
    height: 16px;
    margin-left: 16px;
  }

  .header__buttons_mobile {
    display: flex;
    padding-left: 102px;
    align-items: center;
  }

  .header__title_mobile {
    padding-bottom: 31px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 30px;
    color: #ffffff;
    display: block;
  }

  .header__search_mobile {
    display: block;
  }

  .header__windows_mobile {
    background: #f5bd41;
    padding: 8px;
    display: block;
  }

  .header__form_mobile {
    display: block;
    padding-bottom: 32px;
  }

  .header__destination_mobile {
    display: flex;
    padding-bottom: 8px;
  }

  .header__destination_mobile input {
    height: 48px;
    border: none;
    border-radius: 4px;
  }

  .header__check_mobile {
    display: flex;
  }

  .header__in_mobile {
    padding-bottom: 8px;
  }

  .header__in_mobile input {
    height: 48px;
    border: none;
    border-radius: 4px;
    width: 101%;
  }

  .header__out_mobile {
    padding-left: 8px;
    padding-bottom: 8px;
  }

  .header__out_mobile input {
    height: 48px;
    border: none;
    border-radius: 4px;
    width: 105%;
  }

  .header__people_mobile {
    display: flex;
    padding-bottom: 8px;
  }

  .header__people_mobile input {
    height: 48px;
    border: none;
    border-radius: 4px;
  }

  .header__windows_mobile button {
    margin: 0px;
    height: 48px;
    width: 100%;
    background: #3077c6;
    border: none;
    border-radius: 4px;
  }

  .header__download_mobile {
    padding-left: 40px;
  }

  main {
    width: 360px;
    height: 641px;
  }
  .offer {
    padding: 0px;
  }

  .offer__h1 {
    font-size: 28px;
    line-height: 33px;
    padding: 24px 0px 0px;
  }

  .offer__h1::after {
    display: none;
  }

  .offer__items {
    display: flex;
    flex-direction: column;
  }

  .offer__item {
    margin-top: 35px;
  }

  .offer__items img {
    width: 15%;
  }

  .offer__text {
    text-align: center;
    font-family: Roboto;
    font-weight: 400;
    margin-top: 19px;
    font-size: 15px;
    line-height: 18px;
  }

  footer {
    width: 100%;
    height: 203px;
  }

  .footer__section {
    display: none;
  }

  .footer__mobile {
    display: block;
  }

  .footer__logo {
    position: absolute;
    padding-top: 40px;
    padding-left: 131px;
  }

  .footer__links {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    color: #ffffff;
    text-decoration: underline;
    position: absolute;
    display: inline-flex;
  }

  .links__about {
    padding: 99px 0px 0px 67px;
  }

  .links__property {
    padding: 99px 0px 0px 16px;
  }

  .links__support {
    padding: 99px 0px 0px 16px;
  }

  .copyright__mobile {
    position: absolute;
    padding-left: 71px;
    padding-top: 149px;
    font-size: 12px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
  }
}
